package templates

templ ArtistCollectionControls(artist Artist) {
	{{
		ind := "_changing_" + artist.ID
		indSignal := "$" + ind
		notIndSignal := "!$" + ind
	}}
	<div class="flex items-center justify-center gap-1">
		<button
			type="button"
			class="btn btn-xs btn-ghost btn-square"
			data-indicator={ ind }
			data-attr:disabled={ indSignal }
			data-on:click={ artistCollectionDecAction(artist.ID) }
			aria-label={ "Decrease collection count for " + artist.Name }
			title="Decrease collection count"
		>
			<span data-show={ indSignal } class="loading loading-spinner loading-xs" style="display: none"></span>
			<span data-show={ notIndSignal } class="icon icon-minus text-xs"></span>
		</button>
		<span class="font-mono min-w-[4rem] text-center">{ artistCollectionText(artist) }</span>
		<button
			type="button"
			class="btn btn-xs btn-ghost btn-square"
			data-indicator={ ind }
			data-attr:disabled={ indSignal }
			data-on:click={ artistCollectionIncAction(artist.ID) }
			aria-label={ "Increase collection count for " + artist.Name }
			title="Increase collection count"
		>
			<span data-show={ indSignal } class="loading loading-spinner loading-xs" style="display: none"></span>
			<span data-show={ notIndSignal } class="icon icon-plus text-xs"></span>
		</button>
	</div>
}
